
/* EDICION ACERCA DE ACERCA DE (QUIENES SOMOS) */
.contenedor {
   display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 90px;
  padding: 40px 0 100px 0;
  }


.contact-content h1 {
  font-size: 48px;
  margin-top: 20px;
}

.contact-content p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 25px;
}

/* Imagen a la derecha */
.imagen img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 0px;
}


