@use'../base/variables' as variable; 
@use'../base/mixins';

/* --- AQUI PONDRE SECCION DE CONTACTO --- */
/* --- SECCIÓN DE CONTACTO (Página Contacto) --- */

.contact-section {
  @include mixins.align(grid,start);
  grid-template-columns: 1fr 1fr;
  gap: 90px;
  padding: 40px 0 variable.$space-xl 0;
  .contact-content {
    h1 {
      font-size: 48px;
      margin-top: 20px;
    }
    p {
      font-size: 16px;
      line-height: 1.6;
      margin-bottom: 25px;
    }
  }
  .contact-form {
    margin-top: 40px;
    label {
      display: block;
      margin-bottom: 6px;
      font-size: 14px;
    }
    .name-fields {
      display: flex;
      gap: 15px;
    }
    input,
    textarea {
      width: 100%;
      @include mixins.border(14px 18px, 1px solid variable.$color-negro, 6px);
      margin-bottom: 20px;
      font-size: 15px;
    }

    textarea {
      height: 140px;
      resize: none;
    }
  }
  .contact-image {
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 0px;
    }
  }

}