@use'../base/variables' as variable;
@use'../base/extend';

/* --- EDICION INDEX ---*/
/* --- EDICION IMAGEN CABECERA --- */

.hero {
  img {
  width: 100%;
  height: auto;
  display: block;
  }
}


/* --- EDICION PRODUCTOS DESTACADOS --- */
/* Contenedor que organiza las tarjetas */
.productos-destacados {
  h1 {
  margin: 100px 0 0 0;
  padding: 0px 80px 0px 0px;
  font-size: 3em;
  margin-bottom: 20px;
  }
}

.contenedor-productos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: variable.$space-s;
  /* Cada tarjeta de producto */
  .tarjeta {
    width: 100%; /* el grid ya define el ancho */
    img {
      width: 100%;
    }
    h3 {
      font-size: 1.3em;
      margin: variable.$space-xs 0 5px;
    }
    p {
      font-size: 1.1em;
      margin-bottom: 15px;
      /* Precio anterior tachado */
      .precio-anterior {
        text-decoration: line-through;
        color: variable.$color-gris-medio;
        font-size: 0.9em;
        margin-left: 5px;
      }
    }
    @extend %card-base;
    }
  }





/* --- AQUI VA NUESTROS SERVICIOS DE INDEX --- */

/* Contenedor que organiza las tarjetas */
.nuestros-servicios {
  h2 {
  margin: 150px 0 variable.$space-m 0;
  padding:  0 0 variable.$space-s 0;
  font-size: 53px;
  margin-bottom: variable.$space-s;
  }
}

.contenedor-nuestros {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: variable.$space-m;
  margin: 0 0 180px 0;
  /* Cada tarjeta de producto */
  .tarjetas {
    width: 100%;  
    img {
      width: 100%;
    }   
    h3 {
      font-size: 1.4em;
      margin: variable.$space-xs 0 5px;
    }
    @extend %card-base;
    }
  }




/* --- AQUI VA SOBRE LA MARCA DE INDEX --- */
.sobre-marca {
  width: 100%;
  background-color: variable.$color-blanco;
  margin: 0 0 120px 0;
  .contenedor-marca {
    @extend %flex-space-between;
    gap: variable.$space-l;
    .imagen-marca {
      img {
        width: 100%;
        max-width: 500px;
        border-radius: 5px;
        object-fit: cover;
      }
    }
    .texto-marca {
      max-width: 550px;
      h2 {
        font-size: 2.5rem;
        color: variable.$color-negro;
        margin-bottom: variable.$space-s
      }
      p {
        color: variable.$color-gris-oscuro;
        line-height: 1.6;
        margin-bottom: variable.$space-s;
      }
    }
}
}




