/* --- AQUI PONDRE LO DE RESERVAS --- */

.citas-container {
  max-width: 1440px;
  margin: 60px auto;
  padding: 0 0 90px 0;
  display: flex;
  justify-content: space-between;
  gap: 60px;
  .texto {
  flex: 1.3;
    h1 {
      font-size: 54px;
      font-weight: 600;
      margin-bottom: 20px;
    }
    p {
      font-size: 16px;
      line-height: 1.6;
      margin-bottom: 10px;
    } 
    .imagen-servicio {
      width: 100%;
      border-radius: 6px;
      margin-top: 30px;
    }
  }
}

.agenda {
  flex: 1;
  border-left: 1px solid #ddd;
  padding-left: 52px;
  h3 {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .opcion-cita {
    background: #fff;
    border-radius: 12px;
    padding: 20px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 8px 25px rgba(0,0,0,0.08);
    margin-bottom: 18px;
    border: 1px solid #eee;
    strong {
      font-size: 16px;
    }
    p {
      font-size: 14px;
      opacity: 0.7;
      margin-top: 2px;
    }
    button {
      background: #000;
      color: #fff;
      border: none;
      padding: 10px 22px;
      border-radius: 6px;
      cursor: pointer;
      transition: 0.3s;
      }
      &:hover {
        opacity: 0.8;
      }
    }
  }

.powered {
  opacity: 0.6;
  margin-top: 100px;
  margin: 29%;
  text-align: left;
}