@use'../base/variables' as variable; 
@use'../base/extend';

/* --- AQUI PONDRE LO DE RESERVAS --- */

.citas-container {
  max-width: 1440px;
  margin: variable.$space-l auto;
  padding: 0 0 90px 0;
  display: flex;
  justify-content: space-between;
  gap: variable.$space-l;
  .texto {
  flex: 1.3;
    h1 {
      font-size: 54px;
      font-weight: 600;
      margin-bottom: variable.$space-s;
    }
    p {
      font-size: 16px;
      line-height: 1.6;
      margin-bottom: variable.$space-xs;
    } 
    .imagen-servicio {
      width: 100%;
      border-radius: variable.$border-radius-base;
      margin-top: variable.$space-m;
    }
  }
}

.agenda {
  flex: 1;
  border-left: 1px solid variable.$color-border-divisor;
  padding-left: 52px;
  h3 {
    font-size: 18px;
    margin-bottom: variable.$space-s;
  }
  .opcion-cita {
    background: variable.$color-blanco;
    border-radius: 12px;
    padding: variable.$space-s 24px;
    @extend %flex-space-between;
    box-shadow: 0px 8px 25px rgba(0,0,0,0.08);
    margin-bottom: 18px;
    border: 1px solid #eee;
    strong {
      font-size: 16px;
    }
    p {
      font-size: 14px;
      opacity: 0.7;
      margin-top: 2px;
    }
    button {
      background: variable.$color-negro;
      color: variable.$color-blanco;
      border: none;
      padding: variable.$space-xs 22px;
      border-radius: variable.$border-radius-base;
      cursor: pointer;
      transition:  variable.$transition-speed;
      }
      &:hover {
        opacity: 0.8;
      }
    }
  }

.powered {
  opacity: 0.6;
  margin-top: 100px;
  margin: 29%;
  text-align: left;
}