@use'../base/variables' as variable; 
@use'../base/extend';
@use'../base/mixins';
/* --- EDICION DE SERVICIOS.HTML --- */
/* --- EDICION IMAGEN CABECERA --- */

.nuestros {
  img {
  margin: 20px 0 0 0;
    width: 100%;
  height: auto;
  display: block;
  }
}

/* --- AQUI VA NUESTROS SERVICIOS de servicios ---*/

/* Contenedor que organiza las tarjetas */

.nuestros-servicios {
  h1 {
  margin: 125px 0 variable.$space-m 0;
  padding:  0 0 variable.$space-s 0;
  margin-bottom: variable.$space-s;
  font-size: 53px;
  }
.conten-nuestros {
  padding: 0 0 variable.$space-l 0;
  @include mixins.flex-(flex,wrap);            
  gap: 49px; 
  .tarjetass {
    background-color: variable.$color-blanco;                 
    text-align: left;
    img {
      width: 100%;
    }
    h3 {
      font-size: 28px;
      margin: variable.$space-xs 0 5px;
    }
    .precios {
      margin-bottom: variable.$space-xs;
      font-size: variable.$space-s;
    }
    @extend %card-base;
    } 
  }   
}
