@use'../base/variables' as variable; 

/* --- EDICION DE SERVICIOS.HTML --- */
/* --- EDICION IMAGEN CABECERA --- */

.nuestros {
  img {
  margin: 50px 0 0 0;
    width: 100%;
  height: auto;
  display: block;
  }
}

/* --- AQUI VA NUESTROS SERVICIOS de servicios ---*/

/* Contenedor que organiza las tarjetas */
.conten-nuestros {
  padding: 0 0 variable.$space-l 0;
  display: flex;               
  flex-wrap: wrap;           
  gap: 49px; 
  .tarjetass {
    background-color: variable.$color-blanco;                 
    text-align: left;
    transition: transform 0.3s ease;
    img {
      width: 100%;
    }
    h3 {
      font-size: 28px;
      margin: variable.$space-xs 0 5px;
    }
    .precios {
      margin-bottom: variable.$space-xs;
      font-size: variable.$space-s;
    }
    &:hover {
      transform: variable.$hover-lift; /* Efecto al pasar el mouse */
    } 
  }   
}