@use'../base/variables' as variable; 

/* --- AQUI PONDRE TIENDA ---*/
/* Contenedor que organiza las tarjetas */
.conten-productos1 {
  padding: variable.$space-m 0 variable.$space-l 0;
  display: flex;              
  flex-wrap: wrap;             
  gap: 46px;                  
  }
  .conten-productos {
  padding: 0 0 variable.$space-l 0;
  display: flex;              
  flex-wrap: wrap;             
  gap: 49px;                  
  }
  
/* Cada tarjeta de producto */
.tarjetass {
  background-color: variable.$color-blanco;
  width: 48%;                 
  text-align: left;
  transition: transform variable.$transition-speed ease;
  img {
    width: 100%;
  }
  h3 {
    font-size: 28px;
    margin: variable.$space-xs 0 5px;
  }
  .precios {
    margin-bottom: variable.$space-xs;
    font-size: variable.$space-s;
    .precio-anterior {
      text-decoration: line-through;
      color: variable.$color-gris-medio;
      font-size: 0.9em;
      margin-left: 5px;
    }
  }
  &:hover {
  transform: variable.$hover-lift;; 
  }
}

