/* --- AQUI PONDRE TIENDA ---*/
/* Contenedor que organiza las tarjetas */

.conten-productos1 {
  padding: 30px 0 60px 0;
  display: flex;              
  flex-wrap: wrap;             
  gap: 46px;                  
}

.conten-productos {
  padding: 0 0 60px 0;
  display: flex;              
  flex-wrap: wrap;             
  gap: 49px;                  
}

/* Cada tarjeta de producto */
.tarjetass {
  background-color: #fff;
  width: 48%;                 
  text-align: left;
  transition: transform 0.3s ease;
}

.tarjetass:hover {
  transform: translateY(-5px); 
}

.tarjetass img {
  width: 100%;

}

.tarjetass h3 {
  font-size: 28px;
  margin: 10px 0 5px;
}


.tarjetass .precios {
  margin-bottom: 10px;
  font-size: 20px;
}

