@use'../base/variables' as variable; 
@use'../base/extend';
@use'../base/mixins';

/* --- AQUI PONDRE TIENDA ---*/
/* Contenedor que organiza las tarjetas */
.conten-productos1 {
  padding: variable.$space-m 0 variable.$space-l 0;
  @include mixins.flex-(flex,wrap);             
  gap: 46px;                  
  }
  .conten-productos {
  padding: 0 0 variable.$space-l 0;
  @include mixins.flex-(flex,wrap);             
  gap: 49px;                  
  }
  
/* Cada tarjeta de producto */
.tarjetass {
  background-color: variable.$color-blanco;
  width: 48%;                 
  text-align: left;
  img {
    width: 100%;
  }
  h1 {
  font-size: 28px;
  margin: variable.$space-xs 0 5px;
  }
  h3 {
    font-size: 28px;
    margin: variable.$space-xs 0 5px;
  }
  .precios {
    margin-bottom: variable.$space-xs;
    font-size: variable.$space-s;
    .precio-anterior {
      text-decoration: line-through;
      color: variable.$color-gris-medio;
      font-size: 0.9em;
      margin-left: 5px;
    }
  }
  @extend %card-base;
  }


