/* EDICION ACERCA DE ACERCA DE (QUIENES SOMOS) */

.contenedor {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* los alinea arriba */
    gap: 40px;
    padding: 40px 0px;
    .texto { /* Texto a la izquierda */
            font-size: 20px;
            flex: 1;                  /* Ocupa la mitad del ancho */
            max-width: 50%;
    }
    .imagen img { /* Imagen a la derecha */
            width: 100%;
            max-width: 450px;        
    }
}
