/* Error: Undefined variable.
 *    ,
 * 47 |   color: $--color-negro;  /* 2. FUERZA el color del texto a negro *∕
 *    |          ^^^^^^^^^^^^^^
 *    '
 *   scss/componentes/_buttons.scss 47:10  @use
 *   scss/style.scss 11:1                  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 47 \2502    color: $--color-negro;  /* 2. FUERZA el color del texto a negro */\a    \2502           ^^^^^^^^^^^^^^\a    \2575 \a   scss/componentes/_buttons.scss 47:10  @use\a   scss/style.scss 11:1                  root stylesheet";
}
