@use'../base/variables' as variable; 
@use'../base/extend';

/* AQUI VA EDICION DEL FOOTER */

.site-footer {
  width: 100%;               
  background: variable.$color-blanco;       
  padding: variable.$space-l 0;          
  border-top: 1px solid #eee; 
}

.footer-container {
  max-width: 1440px;          
  margin: 0 auto;             
  @extend %flex-space-start;
  gap: variable.$space-m; 
  .footer-brand {
        flex: 0 0 auto;            
        text-align: left;
    .footer-title {
      font-size: 2rem;          
      margin: 0 0 variable.$space-xs 0;        
      color: variable.$color-negro;               
      font-weight: 600; 
      .footer-sub {
        margin: 0;
        color: #666;
        font-size: 0.95rem;
      }
    }       
  }
}


.footer-columns {
  display: flex;              
  gap: 150px;                  
  align-items: flex-start;
  .footer-col {
    min-width: 160px;          
    max-width: 260px;
    .col-title {
      font-size: 1rem;
      margin: 0 0 8px 0;
      color: variable.$color-negro;
      font-weight: 600;
  }
    .col-text {
      margin: 0;
      color: #444;
      line-height: 1.6;         
      font-size: 0.95rem;
    } 
  } 
}
