@use'../base/variables' as variable; 

/* --- HEADER GENERAL --- */
header {
  background-color: variable.$color-blanco;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: none;
  position: sticky;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: variable.$space-s 0px;
    }
  .hamburguesa {
      font-size: 28px;
  }
}
