@use'../base/variables' as variable; 
@use'../base/extend';

/* --- HEADER GENERAL --- */
header {
  background-color: variable.$color-blanco;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: none;
  position: sticky;
  .container {
    @extend %flex-space-between;
    padding: variable.$space-s 0px;
    }
  .hamburguesa {
      font-size: 28px;
  }
}
