/* --- CONTENEDOR PRINCIPAL --- */
.container {
  max-width: 1400px;
  margin: auto;
  padding: 20px 0px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/* --- LOGO --- */
.logo {
  font-size: 19px;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

/* --- NAVBAR (ANIDADO) --- */
.navbar {
  display: flex;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  box-shadow: none !important;
  border: none !important;
  background-color: #fff !important;
  &, .container-fluid {
    padding: 10px 0px 10px 0px !important;
    margin: 0 !important;
  }
  ul {
    list-style: none;
    display: flex;
    gap: 5px;
    margin: 0;
    padding: 0;
    
    a {
      text-decoration: none;
      color: #000;
      font-weight: 500;
    }
  }
  .navbar-nav {
    .nav-item {
      margin-right: 20px; 
      margin-top: 0;
    }
    .nav-link {
      color: #000000 !important;
      font-weight: 500;
      padding-right: 5px;
      padding-left: 5px;
      margin-right: 0px;
      padding: none;
      &:hover {
        color: #666666 !important;
      }
    }
  }
  .me-1 {
    margin-right: .3rem !important;
  }
}
