/* --- CONTENEDOR PRINCIPAL --- */
.container {
  max-width: 1400px;
  margin: auto;
  padding: 20px 0px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/* --- LOGO --- */
.logo {
  font-size: 19px;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

/* --- NAVBAR --- */
.navbar {
  display: flex;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

/* --- MENÚ --- */
.navbar ul {
  list-style: none;
  display: flex;
  gap: 5px;
  margin: 0;
  padding: 0;
}

.navbar a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}





/* --- EDICION MENU HAMBURGUESA BOOTSTRAP --- */
.navbar {
  box-shadow: none !important;   /* elimina la sombra */
  border: none !important;       /* elimina el borde inferior */
  background-color: #fff !important; /* fondo blanco */
}

/* Quita el padding interno del navbar y su contenedor */
.navbar,
.navbar .container-fluid {
  padding: 10px 0px 10px 0px !important;
  margin: 0 !important;
}

/* Reduce el espacio entre los enlaces del menú */
.navbar-nav .nav-item {
  margin-right: 20px; 
  margin-top: 0;
}

.me-1 {
  margin-right: .3rem !important;
}

.navbar-nav .nav-link {
  padding-right: 5px;
  padding-left: 5px;
}


/* --- Enlaces de navegación --- */
.navbar .nav-link {
  color: #000000 !important;
  font-weight: 500;
  margin-right: 0px;
  padding: none;
}


.navbar .nav-link:hover {
  color: #666666 !important;
}

