/* --- ACA VAN MIS TIPOGRAFIAS --- */
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');
body {
  font-family: "Instrument Sans", sans-serif;
  margin: 0 60px 0 60px;
  /*background-color: #a3a3a3;*/
}