@mixin flex($display, $direction,){
    display: $display;
    flex-direction: $direction;
}

@mixin flex-($display, $wrap){
    display: $display;
    flex-wrap: $wrap;
}

@mixin align($display, $align){
    display: $display;
    align-items: $align;
}

@mixin border($padding, $border, $borderradius){
    padding: $padding;
    border: $border;
    border-radius: $borderradius;
}