@use'../base/variables' as variable; 
@use'../base/extend';
@use'../base/mixins';

/* --- BOTÓN RESERVAR DEL NAV--- */
.btn-reservar {
  background-color: variable.$color-negro;
  color: variable.$color-blanco;
  @include mixins.border(8px 18px, none, 20px);
  cursor: pointer;
  font-weight: 500;
  white-space: nowrap; /* evita que se rompa la línea */
    &:hover {
  background-color: #272727cf;
}
}


/* -- BOTON DE INDEX  -- */
/* --- BOTÓN VER TODO --- */

.titulo-boton {
  @extend %flex-space-between;
  margin-bottom: 30px;
  h2 {
  font-size: 2rem;
  font-weight: bold;
}
}


.ver-todo {
  @include mixins.border(10px 25px, 1px solid variable.$color-negro, variable.$border-radius-btn);
  margin: 84px 0 0 0;
  background: transparent;
  cursor: pointer;
  font-weight: 500;
  transition: variable.$transition-speed;
  color: variable.$color-negro;  /* 2. FUERZA el color del texto a negro */
    &:hover {
  background-color: variable.$color-negro;
  color: variable.$color-blanco;
}
}


/* -- BOTON LEER MAS DE INDEX SOBRE NUESTRA MARCA -- */

.btn-leer-mas {
  background-color: variable.$color-negro;
  color: variable.$color-blanco;
  @include mixins.border(12px variable.$space-m, none, variable.$border-radius-btn);
  font-weight: 600;
  cursor: pointer;
  transition: variable.$transition-speed;
    &:hover {
  background-color: variable.$color-gris-oscuro;
}
}


/* -- BOTON DE FORMULARIO DE PAGINA CONTACTOS -- */

.contact-form {
button {
  background: variable.$color-negro;
  color: variable.$color-blanco;
  @include mixins.border(12px 30px, none, 30px);
  cursor: pointer;
  font-size: 15px;
}
}

/* -- BOTON DE FORMULARIO DE CONTACTANOS -- */

.btn-enviar {
  align-self: flex-start;
  background-color: variable.$color-negro;
  color: variable.$color-blanco;
  @include mixins.border(10px 25px, none, variable.$border-radius-btn);
  cursor: pointer;
  font-size: 1rem;
  &:hover {
  background-color: variable.$color-gris-oscuro;
}
}


/* -- BOTON DE CARRITO (SEGUIR COMPRANDO) -- */

.btn-outline {
  @include mixins.border(12px 24px, 1px solid variable.$color-negro, 50px);
  background: transparent;
  cursor: pointer;
  color: variable.$color-negro;  /* 2. FUERZA el color del texto a negro */
}

/* --- Botón de Reservar MENÚ HAMBURGUESA --- */
.btn-reservar {
  background-color: variable.$color-negro !important;
  color: variable.$color-blanco !important;
  border: none;
  border-radius: variable.$border-radius-btn;
  font-weight: 500;
  transition: variable.$transition-speed;
  &:hover {
  background-color: #333333 !important;
}
}
