@use'../base/variables' as variable; 

/* --- BOTÓN RESERVAR DEL NAV--- */
.btn-reservar {
  background-color: variable.$color-negro;
  color: variable.$color-blanco;
  border: none;
  padding: 8px 18px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 500;
  white-space: nowrap; /* evita que se rompa la línea */
    &:hover {
  background-color: #272727cf;
}
}


/* -- BOTON DE INDEX  -- */
/* --- BOTÓN VER TODO --- */

.titulo-boton {
  display: flex;
  justify-content: space-between; /* Título a la izquierda, botón a la derecha */
  align-items: center;
  margin-bottom: 30px;
  h2 {
  font-size: 2rem;
  font-weight: bold;
}
}


.ver-todo {
  padding: 10px 25px;
  margin: 84px 0 0 0;
  border: 1px solid variable.$color-negro;
  background: transparent;
  border-radius: variable.$border-radius-btn;
  cursor: pointer;
  font-weight: 500;
  transition: variable.$transition-speed;
    &:hover {
  background-color: variable.$color-negro;
  color: variable.$color-blanco;
  text-decoration: none; /* 1. Elimina el subrayado si lo tiene */
  color: variable.$color-negro;  /* 2. FUERZA el color del texto a negro */
}
}



/* -- BOTON LEER MAS DE INDEX SOBRE NUESTRA MARCA -- */

.btn-leer-mas {
  background-color: variable.$color-negro;
  color: variable.$color-blanco;
  border: none;
  padding: 12px variable.$space-m;
  border-radius: variable.$border-radius-btn;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
    &:hover {
  background-color: variable.$color-gris-oscuro;
}
}


/* -- BOTON DE FORMULARIO DE PAGINA CONTACTOS -- */

.contact-form {
button {
  background: variable.$color-negro;
  color: variable.$color-blanco;
  padding: 12px 30px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  font-size: 15px;
}
}

/* -- BOTON DE FORMULARIO DE CONTACTANOS -- */

.btn-enviar {
  align-self: flex-start;
  background-color: variable.$color-negro;
  color: variable.$color-blanco;
  padding: 10px 25px;
  border: none;
  border-radius: variable.$border-radius-btn;
  cursor: pointer;
  font-size: 1rem;
  &:hover {
  background-color: variable.$color-gris-oscuro;
}
}


/* -- BOTON DE CARRITO (SEGUIR COMPRANDO) -- */

.btn-outline {
  border: 1px solid variable.$color-negro;
  padding: 12px 24px;
  background: transparent;
  border-radius: 50px;
  cursor: pointer;
}

/* --- Botón de Reservar MENÚ HAMBURGUESA --- */
.btn-reservar {
  background-color: variable.$color-negro !important;
  color: variable.$color-blanco !important;
  border: none;
  border-radius: variable.$border-radius-btn;
  font-weight: 500;
  transition: variable.$transition-speed;
  &:hover {
  background-color: #333333 !important;
}
}
