@use'../base/variables' as variable;

/* --- FORMULARIO DE CONTACTANOS --- */
.contacto {
  background-color: variable.$color-fondo-contacto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: variable.$space-l;
  gap: 40px;
  min-height: 500px;
  flex-wrap: wrap; /* hace que sea responsive */
  .texto-contacto {
    flex: 1;
    max-width: 400px;
    h2 {
      font-size: 2.5rem;
      font-weight: 700;
      margin-bottom: 15px;
    }
    p {
      font-size: 1.1rem;
      line-height: 1.6;
      color: variable.$color-gris-oscuro;
    }
  }
  .formulario-contacto {
    flex: 1.1;
    display: flex;
    flex-direction: column;
    gap: variable.$space-xs;
    .fila {
      display: flex;
      gap: variable.$space-s;
    }
    .campo {
      flex: 1;
      display: flex;
      flex-direction: column;
      label {
        font-size: 0.9rem;
        margin-bottom: 5px;
        color: variable.$color-gris-oscuro;
      }
      input,
      textarea {
        padding: variable.$space-xs;
        border: 1px solid variable.$color-gris-claro;
        border-radius: variable.$border-radius-base;
        font-size: 1rem;
      }
    }
    .checkbox {
      flex-direction: row;
      align-items: center;
      gap: variable.$space-xs;
    }
  }
}


