/* --- FORMULARIO DE CONTACTANOS --- */
.contacto {
  background-color: #e6e6e6;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 60px;
  gap: 40px;
  min-height: 500px;
  flex-wrap: wrap; /* hace que sea responsive */
  .texto-contacto {
    flex: 1;
    max-width: 400px;
    h2 {
      font-size: 2.5rem;
      font-weight: 700;
      margin-bottom: 15px;
    }
    p {
      font-size: 1.1rem;
      line-height: 1.6;
      color: #333;
    }
  }
  .formulario-contacto {
    flex: 1.1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .fila {
      display: flex;
      gap: 20px;
    }
    .campo {
      flex: 1;
      display: flex;
      flex-direction: column;
      label {
        font-size: 0.9rem;
        margin-bottom: 5px;
        color: #333;
      }
      input,
      textarea {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 6px;
        font-size: 1rem;
      }
    }
    .checkbox {
      flex-direction: row;
      align-items: center;
      gap: 10px;
    }
  }
}


